body{
  background-color: #FFE4C4;
  text-align: left;
  font-family: arial, sans-serif;  
}

h1 {
  font-family: Garamond, serif;
  font-size: 2.5em;
  color: #2F4F4F;
}

.note {
  font-weight:bold;
}

footer {
  padding-top: 200px;
  padding-bottom: 50px;
  font-weight:bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}
/
* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.output {
  padding: 30px 16px;
}

.weaponHeader {
  color: blue;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-top: 30px;  
}

.effectTable tr:first-child {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

.effectTable td:not(:first-child) {
  width: 10%;
  overflow: hidden;  
}

.effectTable {
  width: 70%;
}

.elemTable tr:first-child {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

.elemTable td:not(:first-child) {
  width: 15%;
  overflow: hidden;  
}

.elemTable {
  width: 70%;
}


.materiaTable tr:first-child {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

.materiaTable td:not(:first-child) {
  width: 13%;
  overflow: hidden;  
}

.materiaTable {
  width: 70%;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

